// Specific CSS for your home-page
.order .form-select {
  width: 25%;
  cursor: pointer;
}

.order {
  margin-top: 0;
}

@media (min-width: 768px) {
  .order .form-select {
    width: auto;
  }

  .order {
    margin-top: 2rem;
  }
}
