<div class="col">
  <div class="card h-100">
    <!-- Use a container div for the image to apply aspect ratio -->
    <div class="card-img-container">
      <!-- Add aspect-ratio class to maintain aspect ratio -->
      <% if recommendation.image_url %>
        <% puts recommendation.recommendation_type %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Restaurant_-TCH.jpg/1200px-Restaurant_-TCH.jpg", class: "card-img-top object-fit-cover",  alt: recommendation.name %>
      <% else %>
        <%= image_tag "#{recommendation.recommendation_type}.png", class: "card-img-top object-fit-cover bg-white" %>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
<%#  %>
