<select class="form-select" aria-label="Filter" data-refresh-list-target="filter" data-action="change->refresh-list#filter">
  <option value="" selected>Filter</option>
  <% Recommendation.recommendation_types.each do |key, value| %>
    <option value="<%= key %>"><%= key %></option>
  <% end %>
</select>
