<select class="form-select" aria-label="Dropdown" data-refresh-list-target="sorting" data-action="change->refresh-list#sort">
  <option value="" selected disabled>Sort</option>
  <option value="top_rated">Top Rating</option>
  <option value="low_rated">Low Rating</option>
  <option value="newly_added">Newest</option>
  <option value="old">Oldest</option>
  <option value="az">A-Z</option>
  <option value="za">Z-A</option>
</select>
