<% content_for :meta_title, "We're sorry, but something went wrong (500)" %>
<div class="content-container align-content-center error-page">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <dotlottie-player src="https://lottie.host/f310fc48-bea0-484f-b483-40b7e1c07049/aAiLQ6VriM.lottie" class="lottie-internal-error" background="transparent" speed="1" loop autoplay></dotlottie-player>
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
  </div>
</div>
