<% content_for :meta_title, "The page you were looking for doesn't exist (404)" %>
<div class="content-container align-content-center error-page">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <dotlottie-player src="https://lottie.host/b94391c5-5cb4-4b5d-b940-e387e0de83fc/Gv48u1aU0W.lottie" class="lottie-not-found" background="transparent" speed="1" loop autoplay></dotlottie-player>
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
  </div>
</div>
