.navbar-osusume {
  justify-content: space-between;
  background: white;
}

.navbar-osusume .navbar-collapse {
  flex-grow: 0;
}

.navbar-osusume .navbar-brand img {
  width: 40px;
}

.create-button {
  transition: transform 0.3s ease;
}

.create-button:hover {
  transform: scale(1.05);
}
